---
permalink: '/manifest.webmanifest'
eleventyExcludeFromCollections: true
---
{
  "name": "zeropoint_playground",
  "short_name": "zeropoint-playground",
  "display": "standalone",
  "start_url": "/"
}
